.main{
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.banner1{
  width: 100%;
  margin-top: 200px;
}
.container{
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.container1{
    margin-top: 100px;
    display: flex;
    margin-left: 100px;
    margin-bottom: 100px;
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

}
.container2{
    display:flex;
    margin-top: 200px;
    margin-left: 55%;  
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
  
}

.text1{
    width: 500px;
    margin-top: -41%;
    margin-left: 50%;
  
 }
 .para-heading1{
     font-size: 45px;
     /* margin-left: 50%; */
     text-align: start;
 }
 .para-text1{
     font-size: 30px;
   
     /* margin-left: 100px; */
 }
.text2{
   width: 500px;
   margin-top: -40%;
   font-family:"Poetsen One", sans-serif;
   font-weight: 300;
   font-style: normal;
}
.para-heading2{
    font-size: 45px;
    margin-left: 40%;
    text-align: start;
}
.para-text2{
    font-size: 30px;  
    margin-left: 150px;
}
.about-Quote{
    text-align: center;
    margin-top: 100px;
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.about-Quote span{   
    font-size: 70px;
    text-align: center;
    color: #149253;
   
}
.about-Quote p{   
    font-size: 30px;
    margin-top: 50px;
    /* color: #149253; */

   
}
.response-of-people{
    display: flex;
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}
.response-of-people span{
    font-size: 40px;
    margin-left: -2px;
    margin-top: 20px;
    color: #149253;
}
.response{
    width: 300px;
    padding: 100px;
    margin-left: 5px;
    font-size: 25px;
   
}







.service-header  {
    text-align: center;
   
    font-size: 60px;
   
}
@media screen and (max-width:768px)
{
    .service-header  {
     
        font-size: 30px;
       
    }
}

.services {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;  
    margin-top: -40px;
}
.card1 {
    border:none;
    height: 200px;
    width: 330px;
    background-color:rgb(245, 243, 243); 
    padding: 30px;
    margin: 15px;
    border-radius: 20px;
    margin-top: 50px;
    color: #149253;
    font-family:"Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-size: 40px; */
}
.card1:hover {
    margin-top: -3px;
    transition: 2.5s;
    /* transform: scale(0.9); */
}

.card1 img {
    height: 50px;
    border-radius: 0px;
}

 
.our-services{
    font-size: 25px;  
   text-align: center;
 

}
.card1 p {
    text-align: justify;
    font-weight: 100;  
    font-size: 25px;
    margin-top: -10px;
    
    /* color: rgb(0, 0, 0); */
}